@import "tailwindcss";

:root {
  --background: #fffdfb;
  --background-soft: #fff4ed;

  --text-primary: #111317;
  --text-secondary: #6b7280;
  --text-muted: #9ca3af;

  --border: #e5e7eb;

  --primary: #f38744;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

@media (max-width: 1024px) {
  body {
    padding-bottom: env(safe-area-inset-bottom, 90px);
  }
}